@import './Variables.scss';

.home{
    text-align: center;
    height: 86vh;
    position: relative;
    top: 93px;
    .display-container{
        display: flex;
        height: 50vh;
        overflow-x: auto;
        flex-direction: row;
    }
    header{
        border-bottom: 1px $tertiary solid;
        ul{
            list-style: none;
            .active2{
                color: purple;
            }
            li{
                cursor: pointer;
                display: inline;
                margin-right: 20px;
                font-weight: bold;
                &:hover{
                    color: purple;
                }
            }
        }
    }
    .popular-products{
        height: 80vh;
        display: flex;
        flex-wrap: wrap;
        overflow-x: auto;
        background: #e7e7e7;
    }
}