.search-page{
    h4{
        margin-top: 100px;
        margin-left: 10px;
    }
    .result-container{
        height: 78.1vh;
        display: flex;
        flex-wrap: wrap;
    }
    .modal-content{
        bottom: 150px;
    }
    .sort-container{
        float: right;
        position: relative;
        right: 30px;
        bottom: 35px;
    }
    select{
        padding: 5px;
        width: 120px;
        outline: none;
        margin-left: 5px;
    }
    label{
        color: gray;
        font-size: 14px;
    }
    .modal-content{
        height: 70vh;
        .buttons{
            position: relative;
            bottom: 170px;
        }
        .ratings{
            position: relative;
            bottom: 150px;
            right: 35px;
        }
    }
}